<?xml version="1.0"?>
<!--
/**
 * Copyright © Iman Aboheydary. All rights reserved.
 * See LICENSE for license details (MIT).
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Iranimij_OpenLabelHyva">
        <sequence>
            <module name="Iranimij_OpenLabel"/>
            <module name="Magento_Catalog"/>
            <module name="Hyva_Theme"/>
        </sequence>
    </module>
</config>
